:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-c: #33c7c2;
  --color-m: #E97CE2;
  --color-b: #6868DC;
  --color-selected: color-mix(in oklch, var(--color-b), white 93%);
  --color-hover: color-mix(in oklch, var(--color-b), white 97%);
  --color-focus: color-mix(in oklch, var(--color-b), white 85%);
  --shadow-sm: 0 2px 4px -1px #48486122;
  --shadow-lg: 0 10px 8px -3px #48486133;
  --color-10: #EEEEFF;
  --color-8: #CDCDEE;
  --color-6: #ADADDB;
  --color-4: #7D7DA6;
  --color-2: #4F4F64;
  --color-0: #131316;
}

* {
  box-sizing: border-box;
  letter-spacing: -0.03em;
}

body {
  margin: 0;
  width: 100dvw;
  height: 100vh;
  color: var(--color-0);
  background: #FAFAFF;
}

#app {
  padding: 5px;
  min-width: 800px;
  margin: 0;
  height: 100%;
}

button {
  appearance: none;
  cursor: pointer;
  border-radius: 3px;
  background: #efefef;
  border: solid 1px #767676;
}

button:disabled {
  cursor: default;
}

button:hover {
  background: #d6d6d6;
  border-color: #5d5d5d;
}

h4 {
  color: var(--color-2);
}

small {
  color: var(--color-4);
}

.card {
  border: var(--color-8) 1px solid;
  border-radius: 8px;
  background: white;
  box-shadow: var(--shadow-lg);
  overflow: hidden;
  outline-offset: 2px;

  &:focus-within {
    outline: 2px solid var(--color-focus);
    outline-offset: 0;
  }

  & .card-header {
    background: var(--color-10);
    border: 1px solid var(--color-8);
    border-top: none;
    padding: 8px;
    margin-inline: -1px;
  }

  & .card-footer {
    background: var(--color-10);
    border: 1px solid var(--color-8);
    border-bottom: none;
    padding: 8px;
    margin-inline: -1px;
  }
}

.monospace {
  font-family: monospace;
}

.tooltip {
  position: fixed;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 1000;

  background: #000;
  color: #fff;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;

  opacity: 0;
  transition: opacity .1s;
}

.tooltip.show {
  opacity: 1;
}

.skeleton {
  position: relative;
  pointer-events: none;
}

.skeleton::before,
.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 30;
}

.skeleton::before {
  background: white;
}

.skeleton::after {
  background:
    linear-gradient(135deg,
      transparent 40%,
      var(--color-10) 50%,
      transparent 60%);
  background-size: 200% 100%;
  opacity: 0.6;
  animation: skeleton-shimmer linear 3s infinite;
}

@keyframes skeleton-shimmer {
  from {
    background-position: 200% 0
  }

  to {
    background-position: -200% 0
  }
}

.ellipsize {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines, 1);
  line-clamp: var(--lines, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 1.3em * var(--lines, 1);
}
